@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700');

body {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: column;
}

h1, p {
  border: 0;
  outline: 0;
  font-family: 'Noto Serif'
}

h1 {
  color: #222;
  font-size: 35px;
}

p {
  color: #444;
  font-size: 18px;
}

@media (min-width: 864px) {
  h1 {
    font-size: 42px;
  }
  
  p {
    font-size: 21px;
  }
}

